* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  line-height: 25px;
}

body {
  margin: 0px;
  background-image: url(https://i.pinimg.com/564x/a2/61/ca/a261caf24c7da7c6d13eadb09f5793d5.jpg);
}

nav {
  font-size: 1.2rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 13px;
}

ol {
    padding: 0px;
    padding-left: 30px;
}

body {
  color: #46493a;
  width: 500px;
  margin: 0 auto;

}

h1 {
  background-color: #c2dbcc;
  padding: 0.8rem;
  margin: 0px auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 60px;
  width: 90%;
  text-align: center;
}

h2 {
  background-color: #c2dbcc;

  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  width: 40%;
  border-radius: 60px;

}

h3 {
  background-color: #fec99ad0;
  margin: 0px auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  border-radius: 60px;
  width: 40%;
  text-align: center;
}

table {
  background-color: #ffffff;
  margin: 0 auto;
  border-collapse: collapse;
  border-top: double 3px #46493a;
  border-bottom: double 3px #46493a;
}

section th,
section td {
  border-bottom: solid 1px;
}

.here {
  text-align: center;
}

.wrapper {
  background-color: #f4f3eebe;
  ;
}

.last {
  background-color: lightgrey;
  color: lightgrey;
}

span:hover {
  font-size: 120%;
}

span::selection {
  background-color: rgb(245, 165, 165);
  color: #ffffff;
}

a:link {
  color: rgb(250, 109, 139);
}

a:visited {
  color: #7A7C79;
}

a:hover {
  color: brown;
  background-color: rgba(233, 120, 214, 0.185);
  text-decoration: underline;
  font-size: 130%;
}

a:active {
  color: rgb(41, 13, 68);
  background-color: rgba(152, 154, 230, 0.37);
}

a {
  text-decoration-line: none;
}

img {
  padding: 1.2rem;
  border: solid 4px rgba(92, 104, 21, 0.301);
  border-radius: 45px 5px 45px 5px;
  background-color: #ffffff;
}

ol {
  list-style: none;
  margin-right: 1rem;
}

ol>li::before {
  content: "👉 ";
}

thead,
tfoot {
  background-color: #dad9d5be;
}

tbody>tr:nth-child(2n-1) {
  background-color: #e2ece9;
}

tbody>tr:nth-child(2n) {
  background-color: #f4f3eebe;
}

.podthai {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.bibim-nudle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.carbo-buldak {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.stepBr {
    padding-left: 25px;
}

.guide {
  width: 200px;
  height: 320px;
  background-color: rgba(255, 238, 0, 0.356);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 1rem;
  margin: 1rem;
}

div>ul>li:nth-child(3n-2)::before {
  content: "🍜"
}

div>ul>li:nth-child(3n-1)::before {
  content: "🥕"
}

div>ul>li:nth-child(3n-1) {
  margin-left: 1rem;
}

div>ul>li:nth-child(3n)::before {
  content: "🐥"
}

div>ul>li:nth-child(3n) {
  margin-left: 1rem;
}

.me {
  margin: 0em;
}