* {
  box-sizing: border-box;
  font-family: 'Gowun Dodum', sans-serif;
  font-family: 'Poor Story', cursive;
  font-family: 'Yeon Sung', cursive;
}

html {
  font-size: 21px;
  line-height: 25x;
}

body {
  margin: 0px;
  background-image: url(https://cdn.pixabay.com/photo/2017/03/14/08/10/wood-2142241_960_720.jpg); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 1200px;
  margin: 0 auto;
}

section {
  background-color: #f4f3eebe;
  border-radius: 15px;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 1px 1px 10px rgba(92, 104, 21, 0.301);
}


nav {
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(92, 104, 21, 0.301);
}

ul {
  list-style-type: none;
}

ol {
    padding: 0px;
    padding-left: 30px;
}


h1 {
  background-color: #c2dbcc;
  padding: 2rem;
  margin: 0px auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(92, 104, 21, 0.301);
}

h2 {
  background-color: #c2dbcc;

  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  width: 40%;
  border-radius: 60px;

}

h3 {
  background-color: #fec99ad0;
  margin: 0px auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  border-radius: 60px;
  width: 50%;
  text-align: center;
}

table {
  background-color: #ffffff;
  margin: 0 auto;
  border-collapse: collapse;
  border-top: double 3px #46493a;
  border-bottom: double 3px #46493a;
}

section th,
section td {
  border-bottom: solid 1px;
}

.here {
  text-align: center;
  margin-bottom: 1rem;
}


.last {
  background-color: lightgrey;
  color: lightgrey;
}

span:hover {
  font-size: 120%;
}

span::selection {
  background-color: rgb(245, 165, 165);
  color: #ffffff;
}

a:link {
  color: rgb(250, 109, 139);
}

a:visited {
  color: #7A7C79;
}

a:hover {
  color: brown;
  background-color: rgba(233, 120, 214, 0.185);
  text-decoration: underline;
  font-size: 130%;
}

a:active {
  color: rgb(41, 13, 68);
  background-color: rgba(152, 154, 230, 0.37);
}

a {
  text-decoration-line: none;
}

section>div>img {
  padding: 1.2rem;
  border: solid 4px rgba(92, 104, 21, 0.301);
  border-radius: 45px 5px 45px 5px;
  background-color: #fff;
}


ol {
  list-style: none;
  margin-right: 1rem;
}

ol>li::before {
  content: "👉 ";
}

thead,
tfoot {
  background-color: #dad9d5be;
}

tbody>tr:nth-child(2n-1) {
  background-color: #e2ece9;
}

tbody>tr:nth-child(2n) {
  background-color: #f4f3eebe;
}

.podthai {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.bibim-nudle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.carbo-buldak {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.stepBr {
    padding-left: 25px;
}



.me {
  margin: 0em;
}

.navpart {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 1rem;
  position: sticky;
  top: 0.5rem;
  z-index: 9999;
}

div>nav>h3 {
  width: 100%;
  border-radius: 10px;
}

div>nav>ul>li {
  display: inline-block;
  margin-left: 3.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba(255, 238, 0, 0.356);

}

nav>ul>li:first-child {
  margin-left: 0px;
}

div>nav>ul {
  padding-left: 0px;
}

article {
  float: left;
  margin-bottom: 1rem;
  width: 750px;
  margin-left: 220px;
}


.guide {
  width: 200px;
  height: 360px;
  background-color: rgba(255, 249, 169, 0.815);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  position: fixed;
  float: left;
  box-shadow: 1px 1px 10px rgba(92, 104, 21, 0.301);
}


section>div>h2 {
  scroll-margin-top: 12rem;
}

section>h3 {
  scroll-margin-top: 12rem;
}


.addver {
  position: fixed;
  width: 200px;
  left: calc(((100% - 700px)/2 + 700px + 0rem));
  top: 19rem;
  float: left;
}


.add {
  width: 200px;
  margin: 4px;
  margin-left: 3rem;
  background-color: #fff;

}

.logo {
  width: 200px;
  margin: 15px;
  margin-left: 3rem;
}

footer {
  clear: both;
}

div>aside>ul>li:nth-child(3n-2)::before {
  content: "🍜";
}

div>aside>ul>li:nth-child(3n-1)::before {
  content: "🥕";
}

div>aside>ul>li:nth-child(3n-1) {
  margin-left: 1rem;
}

div>aside>ul>li:nth-child(3n)::before {
  content: "🐥";
}

div>aside>ul>li:nth-child(3n) {
  margin-left: 1rem;
}

.banner {
  width: 100%;
}





